<div class="row-fluid">
    <div class="box">
        <div class="title">
            <div class="row-fluid">
                <h4>Alterar Texto</h4>
            </div>
        </div>
        <!-- End .title -->

        <div class="content">
            <form id="formAlterarPagina" method="post" action="/admin/pagina/alterar" class="form-horizontal cmxform" autocomplete="off">
                <input type="hidden" name="idPagina" value="<%= viewModel.id %>" />

                <% var haTituloComConteudo = viewModel.titulo;
                    if (haTituloComConteudo) { %>

                    <div class="form-row control-group row-fluid">
                        <label class="control-label span3" for="titulo">Título *</label>
                        <div class="controls span7">
                            <input id="titulo" name="titulo" type="text" class="span12" value="<%= viewModel.titulo %>"/>
                            <label class="error errorRequired" style="display: none;">Por favor, informe o título da página</label>
                        </div>
                    </div>

                <% } %>

                <% var haSubtituloComConteudo = viewModel.subtitulo;
                    if (haSubtituloComConteudo) { %>

                    <div class="form-row control-group row-fluid">
                        <label class="control-label span3" for="subtitulo">Subtítulo *</label>
                        <div class="controls span7">
                            <input id="subtitulo" name="subtitulo" type="text" class="span12" value="<%= viewModel.subtitulo %>"/>
                            <label class="error errorRequired" style="display: none;">Por favor, informe o subtítulo da página</label>
                        </div>
                    </div>

                <% } %>

                <!-- Campo Parágrafos -->

                <% var haParagrafoNestaPagina = viewModel.texto.paragrafos[0].id;
                    if (haParagrafoNestaPagina) { %>

                <% for (var i = 0; i < viewModel.texto.paragrafos.length; i++) { %>

                <% if (i === 0) { %>

                    <div class="form-row control-group row-fluid">
                        <input type="hidden" name="idParagrafo" value="<%= viewModel.texto.paragrafos[i].id %>" />
                        <label class="control-label span3" for="paragrafo">Parágrafos *</label>
                        <div class="controls span7">
                            <textarea id="paragrafo" name="paragrafo" rows="3" class="row-fluid autogrow" placeholder="Escreva aqui o conteúdo do parágrafo..."><%= viewModel.texto.paragrafos[i].descricao %></textarea>
                            <label class="error errorRequired" style="display: none;">Por favor, escreva o conteúdo do parágrafo</label>
                            <label class="error errorMinlength" style="display: none;">O parágrafo precisa ter pelo menos 10 caracteres</label>
                            <label class="error errorMaxlength" style="display: none;">O parágrafo pode conter o máximo de 200 caracteres</label>
                        </div>
                        <div class="btn-controls btn-group inline span1">
                            <a class="btn adicionarParagrafo" href="#">
                                <span class="icon-plus"></span>
                            </a>
                        </div>
                    </div>

                <% } else { %>

                    <div class="form-row control-group row-fluid">
                        <input type="hidden" name="idParagrafo" value="<%= viewModel.texto.paragrafos[i].id %>" />
                        <label class="control-label span3" for="paragrafo"></label>
                        <div class="controls span7">
                            <textarea id="paragrafo" name="paragrafo" rows="3" class="row-fluid autogrow" placeholder="Escreva aqui o conteúdo do parágrafo"><%= viewModel.texto.paragrafos[i].descricao %></textarea>
                            <label class="error errorRequired" style="display: none;">Por favor, escreva o conteúdo do parágrafo</label>
                            <label class="error errorMinlength" style="display: none;">O parágrafo precisa ter pelo menos 10 caracteres</label>
                            <label class="error errorMaxlength" style="display: none;">O parágrafo pode conter o máximo de 200 caracteres</label>
                        </div>
                        <div class="btn-controls btn-group inline span1">
                            <a class="btn adicionarParagrafo" href="#">
                                <span class="icon-plus"></span>
                            </a>
                            <a class="btn removerParagrafo" href="#">
                                <span class="icon-minus"></span>
                            </a>
                        </div>
                    </div>

                <% } %> <!-- END if -->

                <% } %> <!-- END for -->

                <% } %> <!-- END if -->

                <!-- END Campo Parágrafos -->

                <div class="form-actions row-fluid">
                    <div class="span12">
                        <a href="/admin/paginas" class="btn btn-large btn-secondary pull-right">Cancelar</a>
                        <button type="submit" class="btn btn-large btn-success pull-right">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- End .content --> 
        <a id="abrir-modal" href="#instrucoes" class="btn new_item" data-toggle="modal"><i class="icon-info-sign"></i></a>
    </div>
    <!-- End  .box --> 
</div>

<!-- Modal Instruções -->

<div id="instrucoes" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Instruções</h3>
    </div>
    <div class="modal-body">
        <h4>Dados Pessoais</h4>

        <ul>
            <li>Os campos que contém um <b>*</b> são de preenchimento obrigatório, os demais são opcionais</li>
            <li>Nos campos de <b>Telefone</b> e <b>Rede Social</b> você pode escolher o tipo de operadora e qual o tipo de rede social, respectivamente</li>
            <li>Os botões 
                <a class="btn">
                    <span class="icon-plus"></span>
                </a> adicionam um novo campo para <b>Telefone</b> ou <b>Rede Social</b>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">Fechar</button>
    </div>
</div>

<div id="instrucoesMusicas" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Instruções</h3>
    </div>
    <div class="modal-body">
        <h4>Músicas</h4>

        <ul>
            <li>É necessário preencher três campos para adicionar uma nova música: 
                <ul>
                    <li>o <em>nome da música</em>,</li> 
                    <li>o nome do <em>arquivo de áudio</em> (mp3) e</li>
                    <li>o nome do <em>arquivo de imagem</em> da capa do CD</li>
                </ul>
            </li>
            <li>O arquivo de áudio (mp3) deve ser copiado para a pasta <code>\public\musicas</code></li>
            <li>O arquivo de imagem da capa do CD deve ser copiado para a pasta <code>\public\img\cd</code></li>
            <li>O tamanho ideal para a imagem é de <code>250 x 250</code> pixels</li>
            <li>O botão 
                <a class="btn">
                    <span class="icon-plus"></span>
                </a> adiciona um novo campo</b>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">Fechar</button>
    </div>
</div>

<div id="instrucoesPerfil" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Instruções</h3>
    </div>
    <div class="modal-body">
        <h4>Perfil</h4>

        <ul>
            <li>O campo de imagem do perfil deve conter o nome do arquivo de imagem com a foto do artista. </li>
            <li>O arquivo deve ser copiado para a pasta <code>\public\img\foto\perfil</code></li>
            <li>O tamanho ideal para a imagem é de <code>159 x 159</code> pixels</li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">Fechar</button>
    </div>
</div>

<div id="instrucoesBackground" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Instruções</h3>
    </div>
    <div class="modal-body">
        <h4>Background</h4>

        <ul>
            <li>O campo de <em>cor de fundo</em> determinará a cor de fundo complementar da página do artista. Será um complemento da imagem</li>
            <li>O campo de <em>imagem de background</em> deve conter o nome do arquivo de imagem que ficará no plano de fundo da página do artista</li>
            <li>O arquivo de imagem de background deve ser copiado para a pasta <code>\public\img\foto\background</code></li>
            <li>Não há um tamanho ideal. Deve ser de pelo menos <code>480 x 720</code> pixels. O restante que não completar a tela será preenchido pela cor de fundo</li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">Fechar</button>
    </div>
</div>

<!-- Modal Mensagem -->

<% include partial/mensagem %>

<script src="/js/jquery.validate.min.js"></script>
<script src="/js/jquery.meio.mask.min.js"></script>

<!--
<script src="/js/app/formDadosPessoais.js"></script>
<script src="/js/app/formImagemPerfil.js"></script>
<script src="/js/app/formBackground.js"></script>
<script src="/js/app/formMusicas.js"></script>
-->

<script>
    $(function () {
        //$('.mostrar-instrucao').on('click', function (e) {
        //    var _this = $(e.currentTarget);
        //    var btnAbrirModal = $('#abrir-modal');
        //    btnAbrirModal.attr('href', _this.data().modal);
        //});


    });
</script>